:root { 
  /* Varivaeis */
  --branco-principal: #ff0000;
  --cinza-secundario: #880000;
  --botao-azul: #000000;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter', sans-serif;    
  padding: 1em;
  border-radius: 4px;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;  
  color: red;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid white;
  border: 2px solid var(--branco-principal);
}

.container__titulo {
  font-size: 28px;
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);  
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("https://static.vakinha.com.br/uploads/vakinha/image/184786/bluezao.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;  
}

.container__botao {
  background-color: var(--botao-azul);
  padding: 1em;
  border-radius: 4px;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;  
  color: red;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid white;
  border: 2px solid var(--branco-principal);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.container__caixa {
  margin: 0 6em;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.principal {
  align-items: center;
  text-align: center;
}

.container__botao {
    margin-bottom: 1em;
} 

.secundario {
  align-items: center;
  margin: 0 10em;
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  font-weight: bold;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
  margin-bottom: 0.1em;
}

.imagem__secundaria {
  width: 70%;
}

.descricao__texto {
color: rgb(175, 0, 0);
  line-height: 150%;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
  border-radius: 4px;
  background-color: transparent;
  display: block;  
  color: red;
  margin: 20px ;
}

.outro__botao {
  background-color:#880000 ;
}